aiscribe.txt
aiscribe2.txt
settings.txt

.venv
venv
__pycache__
build
dist
recording.wav
output
client.spec
.aider*
.DS_Store

realtime.wav
src/FreeScribe.client/models
freescribe-client.spec
freescribe-client-cpu.spec
freescribe-client-nvidia.spec
scripts/FreeScribeInstaller.exe
test_upload_files
display_mics.py
src/FreeScribe.client/models
src/FreeScribe.client/oscarReportmasterXLS.xls

# Auto processing folders
input/
output/
done/
failed/
oscar_input/
oscar_output/
oscar_done/
oscar_failed/

src/FreeScribe.client/UI/prompts/prompts.yaml
src/FreeScribe.client/UI/oscar_config/config.yaml